<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Presta dinero</title>

    <partial name="_css" />

    @RenderSection("Styles", required: false)
</head>
<body class=" sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" style="height: auto;">


    <partial name="_Navbar" />
    <partial name="_SideBar" />


    @RenderBody()

    <partial name="_Footer" />

    <partial name="_js" />

    @RenderSection("Scripts", required: false)

</body>
</html>
