
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Presto Dinero</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">
                    Laura E. Santiesteban 
                </a>
                <a asp-controller="Home" asp-action="Logout" >LogOut</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Distribuidor" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>
                            Distribuidores
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Cliente" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Clientes

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Vale" class="nav-link">
                        <i class="nav-icon fas fa-id-card"></i>
                        <p>
                            Vales
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="TipoPrestamo" class="nav-link">
                        <i class="nav-icon fas fa-id-card"></i>
                        <p>
                            Tipo de prestamo
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="TablaInteres" class="nav-link">
                        <i class="nav-icon fas fa-id-card"></i>
                        <p>
                            Tabla de interes
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Reportes" class="nav-link">
                        <i class="nav-icon fas fa-list-alt"></i>
                        <p>
                            Reportes
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>