<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Reportes</h3>
            <hr>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-4  mb-3">
            <a class="btn btn-default btn-block" data-toggle="modal" onclick="RenderActions('/Reportes/ListaQuincenal')" data-target="#modalCreate">
                Lista quincenal
            </a>
        </div>

        <div class="col-12 col-md-4  mb-3">
            <a class="btn btn-default btn-block" data-toggle="modal" onclick="RenderActions('/Reportes/ImpresionVales')" data-target="#modalCreate">
                Impresión de vales
            </a>
        </div>


        <div class="col-12 col-md-4  mb-3">
            <a class="btn btn-default btn-block" data-toggle="modal" onclick="RenderActions('/Reportes/SaldoClientes')" data-target="#modalCreate">
                Saldo de clientes
            </a>
        </div>

    </div>

</div>




<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="false">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Vale</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="OpenDialog" class="modal-body">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
        });

        function RenderActions(RenderActionstring) {

            $("#OpenDialog").load(RenderActionstring)
        };
    </script>
}
