@model List<PrestaDinero.Core.ValeDetalleEntity>


@{
    Layout = "~/views/shared/_Reporte.cshtml";
}


<div class="row">
    <div class="col-12">
        <h3>Presto dinero</h3>
    </div>
    <div class="col-12">
        <h4>Entrega de desembolso</h4>
    </div>
</div>


